# https://github.com/plexinc/pms-docker
services:
  plex:
    container_name: plex
    image: plexinc/pms-docker:{{ image_tag }}
    restart: unless-stopped
    ports:
      - {{plex_port}}:32400/tcp
      - 8324:8324/tcp
      - 32469:32469/tcp
      - 1900:1900/udp
      - 32410:32410/udp
      - 32412:32412/udp
      - 32413:32413/udp
      - 32414:32414/udp
    environment:
      - TZ={{ time_zone }}
      - PLEX_CLAIM={{ claimToken }}
      - ADVERTISE_IP=http://{{ ansible_host }}:32400/
      - HOSTNAME={{ plex_hostname }}
      - ALLOWED_NETWORKS={{ local_subnet_range }}
      - CHANGE_CONFIG_DIR_OWNERSHIP=false
      - PLEX_UID={{ plex_user.uid }}
      - PLEX_GID={{ media_group.uid }}
    hostname: plex
    volumes:
      - {{ path_to_plex_db }}:/config
      - type: bind
        source: {{ path_to_Films }}
        target: /media/movies
      - type: bind
        source: {{ path_to_TV }}
        target: /media/tv
      - type: bind
        source: {{ path_to_music }}
        target: /media/music
      - type: bind
        source: {{ path_to_Films_de_famille }}
        target: /media/family
