services:
  actual_server:
    image: docker.io/actualbudget/actual-server:latest
    container_name: actual
    networks: 
      - {{ docker_proxy_network.name }}
    ports:
      # This line makes Actual available at port 5006 of the device you run the server on,
      # i.e. http://localhost:5006. You can change the first number to change the port, if you want.
      - '{{ actual_port }}:5006'
    environment:
      # Uncomment any of the lines below to set configuration options.
      - ACTUAL_HTTPS_KEY=/data/{{ key.filename | basename }}
      - ACTUAL_HTTPS_CERT=/data/{{ selfsigned.filename| basename }}
      - ACTUAL_PORT=5006
      # - ACTUAL_UPLOAD_FILE_SYNC_SIZE_LIMIT_MB=20
      # - ACTUAL_UPLOAD_SYNC_ENCRYPTED_FILE_SYNC_SIZE_LIMIT_MB=50
      # - ACTUAL_UPLOAD_FILE_SIZE_LIMIT_MB=20
      # See all options and more details at https://actualbudget.org/docs/config/
      # !! If you are not using any of these options, remove the 'environment:' tag entirely.
    labels:
      - traefik.enable=true # FALSE FALSE FALSE FALSE FALSE 
      - traefik.http.routers.actual-server.rule=Host(`budget.{{ local_domain_name }}`)
      - traefik.http.services.actual-server-service.loadbalancer.server.port=5006
      - traefik.http.services.actual-server-service.loadbalancer.server.scheme=https
      - traefik.http.routers.actual-server.entrypoints=websecure
      - traefik.http.routers.actual-server.tls=true
    volumes:
      - ./{{ actual_data_directory }}:/data
    restart: unless-stopped
    
networks:
  {{ docker_proxy_network.name }}:
    external: true

# https://actualbudget.org/docs/install/docker/